/**************************/
/* General page structure */
/**************************/
html {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background-color:#f8f9fa;
}
* {
   margin: 0px;
   padding: 0px;
   font-family: Lato;
}

.clear_both {
	clear: both;
}

a {
	color: #3366cc;
	text-decoration: none;
}
a:hover {
	color: #447ff5;
}
a:active {
	color: #2a4b8d;
}
