/**************************/
/* General page structure */
/**************************/
html {
	max-width: 100%;
	overflow-x: hidden;
}
body {
	background-color:#f8f9fa;
	overflow-x: hidden;
}
* {
   margin: 0px;
   padding: 0px;
   font-family: Lato;
}

.clear_both {
	clear: both;
}

a {
	color: #3366cc;
	text-decoration: none;
}
a:hover {
	color: #447ff5;
}
a:active {
	color: #2a4b8d;
}

/* Preload some hovered images */
body:after {
	position: absolute; overflow: hidden; width:0; height:0; z-index: -10;
	content: url(icons/meta-blue.svg) url(icons/github-blue.svg) url(icons/phabricator-blue.svg) url(icons/wikipedia-blue.svg) url(icons/twitter-blue.svg);
}

/* Custom fonts */
/* Charter */
@font-face {
    font-family: 'Charter';
    src: url('../fonts/CharterBold.ttf');
}

/* Lato */
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf');
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic.ttf');
	font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

/* HelveticaNeue */
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Roman.ttf');
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Bold.ttf');
	font-weight: bold;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-Italic.ttf');
	font-style: italic;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeueCyr-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}
