/*****************/
/* Main nav menu */
/*****************/
#navwrapper {
	width: 100%;
	height: 114px;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
	background-color: #ffffff;
	z-index: 20;
	position: relative;
}
#navwrapper li {
	list-style: none;
}

/* General layout */
#navwrapper nav {
	max-width: 1200px;
	height: 114px;
	margin: auto;
	display: flex;
}

#navwrapper nav .title-area .menu-icon,
#navwrapper nav .title-area .top-bar-logo + .title-name {
    display: none;
}

#navwrapper .top-bar-logo {
	height: 100px;
	margin-top: 7px;
	margin-left: 8px;
	margin-right: 23px;
}

#navwrapper #top-bar-sections {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}

#navwrapper #top-bar-top-menu {
	display: flex;
	justify-content: flex-end;
	margin-top: 24px;
}
#navwrapper #top-bar-bottom-menu {
	display: flex;
	justify-content: space-between;
	/*height: 40px;*/
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

#navwrapper #top-bar-bottom-menu > ul {
	display: flex;
	flex-direction: row;
}
#navwrapper #top-bar-bottom-menu > *:nth-last-child(2) {
	margin-left: auto;
}

/* Main menu items */
#navwrapper #top-bar-bottom-menu > ul:first-child a {
	display: block;
	height: 20px;
	padding: 10px 12px 10px 12px;
	font-size: 15px;
	font-weight: 600;
	color: #222222;
	text-decoration: none;
}
#navwrapper #top-bar-bottom-menu > ul:first-child a:hover {
	color: #3366cc;
}
#navwrapper #top-bar-bottom-menu > ul:first-child li:first-child a {
	padding-left: 8px;
}

/* Secondary menu items */
#navwrapper #top-bar-bottom-menu > ul:nth-child(2) {
	margin-right: 12px;
}
#navwrapper #top-bar-bottom-menu > ul:nth-child(2) li a {
	display: block;
	height: 20px;
	width: 20px;
	padding: 10px 9px;

	font-size: 0px;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px;
}
#navwrapper #top-bar-bottom-menu > ul:nth-child(2) li a:hover {
	filter: invert(28%) sepia(65%) saturate(1296%) hue-rotate(196deg) brightness(109%) contrast(92%); /* #3366cc */
	background-size: 21px;
}
#n-meta a {
	background-image: url(icons/meta.svg);
}
#n-github a {
	background-image: url(icons/github.svg);
}
#n-phabricator a {
	background-image: url(icons/phabricator.svg);
}
#n-wikipedia a {
	background-image: url(icons/wikipedia.svg);
}
#n-twitter a {
	background-image: url(icons/twitter.svg);
}

/* Action menu */
#navwrapper #actions-button {
	display: block;
	height: 20px;
	padding: 10px 10px 10px 38px;
	color: #222222;
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	font-family: HelveticaNeue, Lato;
	background-color: rgba(234, 236, 240, 0.3);
}
.dropdown:hover > a,
.dropdown-content li a:hover {
	background-color: #eaecf0 !important;
	filter: unset;
}
#actions-button::before,
#toolbox-button::before {
	display: inline-block;
	position: absolute;
	left: 10px;
	height: 20px;
	width: 20px;
	content: '';

	background-position: center center;
	background-repeat: no-repeat;
	background-size: 20px;
	background-image: url(icons/settings.svg);
}
#actions-button::after,
#pt-uls a.uls-trigger::after,
#toolbox-button::after {
	display: inline-block;
	height: 10px;
	width: 10px;
	content: '';
	padding-left: 9px;

	background-position: right center;
	background-repeat: no-repeat;
	background-size: 10px;
	filter: invert(0%) sepia(31%) saturate(6300%) hue-rotate(57deg) brightness(90%) contrast(73%); /* #222222 */
	background-image: url(icons/arrow-down.svg);
}
.dropdown-content {
	right: 0;
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.08);
	background: white;
	width: 200px;
	border-radius: 0px 0px 5px 5px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-top: 0;
	padding-top: 8px;
}
#actions.dropdown-content {
	box-shadow: inset 0 14px 6px -10px rgba(0, 0, 0, 0.08), 0 4px 6px 0 rgba(0, 0, 0, 0.08);
}
.dropdown-content li a {
	display: block;
	padding: 5px 5px 5px 15px;
	font-size: 15px;
	color: black;
	text-decoration: none;
}

/* dropdowns */
.dropdown {
	position: relative;
}
.dropdown .dropdown-content {
	position: absolute;
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	transition: opacity 100ms, visibility 200ms;
}


.dropdown:hover .dropdown-content {
	opacity: 1;
	visibility: visible;
}

/* Search form */
#searchform {
    display: flex;
    margin-right: 15px;
}

#searchform input {
    width: 138px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-right: 0;
    border-radius: 2px 0px 0px 2px;
    padding: 4px 0px 3px 8px;
    font-size: 14px;
}
#searchform input::placeholder {
    color: #c4c4c4;
}
#searchform button {
    background: white;
    border: 1px solid #c4c4c4;
    border-left: 0;
    border-radius: 0px 2px 2px 0px;
    width: 38px;
    color: rgba(0, 0, 0, 0.5);
}
#searchform button {
	background-image: url(icons/search.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
}

/* Universal Language Translator */
#pt-uls {
	position: relative;
}
#pt-uls a.uls-trigger {
	display: block;
	height: 20px;
	padding: 6px 10px 6px 36px;
	margin-right: 15px;

	background-color: #f8f9fa;
	background-position: 6px center;
	background-size: 22px;

	border-radius: 2px;
	border: solid 1px #a2a9b1;

	font-family: HelveticaNeue;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	font-variant-caps: small-caps;
	color: #222222;
	line-height: 18px;
}
#pt-uls a.uls-trigger:hover {
	background-color: white;
	color: #444444;
}
#pt-uls a.uls-trigger:active {
	background-color: #c8ccd1;
	color: #000;
	border-color: #72777d;
}

/* Record call-to-action */
#p-record a {
	display: block;
	height: 20px;
	padding: 6px 14px 6px 39px;
	margin-right: 10px;

	background-color: #3366cc;
	background-position: 10px center;
	background-size: 22px;
	background-repeat: no-repeat;
	background-image: url(icons/mic.svg);

	border: solid 1px #3366cc;
	border-radius: 2px;

	font-family: HelveticaNeue;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	line-height: 18px;
}
#p-record a:hover {
	background-color: #447ff5;;
	border-color: #447ff5;
}
#p-record a:active {
	background-color: #2a4b8d;
	border-color: #2a4b8d;
}

/* Personal Tools */
#p-personal > a {
	display: block;
	width: 18px;
	height: 18px;
	background-image: url(icons/user.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 20px;
	padding: 9px 10px 7px 10px;
	filter: invert(0%) sepia(31%) saturate(6300%) hue-rotate(57deg) brightness(90%) contrast(73%); /* #222222 */
}
#p-personal > .dropdown-content {
	right: 0;
}

/* TODO: DROPDOWN */
#p-personal .dropdown {
	display:none;
}

/* TODO: remove */
.drop-icon {
	display: inline;
}
#pt-uls .drop-icon {
	display: none;
}
